@layer base {
  :is(h2, h3, h4) {
    margin: 1rem 0;
    color: $primary-color;
    font-family: $font-family-serif;
  }

  p {
    line-height: 1.6;
    margin-bottom: 1.5rem;

    abbr {
      position: relative;
      cursor: help;
      border-bottom: 1px dotted $text-contrast;
    }
  }

  blockquote {
    margin: 1.5rem 0;
    padding: 1rem;
    color: $color2;
    background-color: $text-contrast;
    font-style: italic;
    border-left: 5px solid $primary-color;
  }

  ol {
    list-style: none;
    counter-reset: item;
    padding-left: 0;
    margin-bottom: 2rem;

    li {
      counter-increment: item;
      position: relative;
      padding-left: 3rem;
      margin-bottom: 1.5rem;

      &::before {
        position: absolute;
        top: 0.1rem;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        border: 2px solid $primary-color;
        font-weight: bold;
        color: $primary-color;
        background-color: $text-contrast;
        content: counter(item);
        border-radius: 50%;
      }
    }
  }
}

@layer layout {
  .article-header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 300px;
    text-align: center;
    background-image: url("../images/article1.jpg");
    background-size: cover;
    background-position: center;

    .article-header__title {
      padding: 2rem;
      color: $text-color;
      background-color: $color3;
      font-family: $font-family-serif;
      border-radius: 8px;
    }

    .article-header__author {
      padding: 0.5rem 1rem;
      font-size: 0.8rem;
      color: $text-contrast;
      background-color: $color2;
      margin-top: 1rem;
      border-radius: 8px;
    }
  }

  .article-content {
    max-width: 80%;
    margin: 2rem auto;
    padding: 0 1rem;

    @container article (min-width: #{breakpoint("tablet")}) {
      .article-text {
        max-width: 80%;
        margin: 2rem auto;

        > *:not(figure) {
          margin: 0.5rem 3rem;
        }
      }

      .article-introduction {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
      }

      .article-header__title {
        font-size: $title-size-desktop;
      }
    }
  }
}

@layer typography {
  .article-text {
    margin: 2rem 0;

    &:has(blockquote) {
      border-top: 2px dashed $color2;
      padding-top: 2rem;
    }
  }

  figure:has(figcaption) figcaption {
    font-size: $caption-size;
    text-align: center;
    color: $text-color;
    font-style: italic;
  }
}

@layer components {
  .article-image {
    display: block;
    width: 100%;
    height: auto;
    margin: 1.5rem 0;
    object-fit: cover;
  }

  .article-text {
    margin: 2rem auto;
  }
}