.poster {
  container-type: inline-size;
  container-name: poster;
}

.article-content {
  container-type: inline-size;
  container-name: article;
}

.participants-container {
  container-type: inline-size;
  container-name: participants;
}