<footer class="footer">
<div class="container">
    <div class="footer__content d-flex flex-column flex-md-row justify-content-between align-items-center">
    
    <div class="footer__logo mb-3 mb-md-0">
        <img src="./assets/images/logo.png" alt="Logo" class="logo">
    </div>
    
    <nav class="footer__nav mb-3 mb-md-0">
        <ul class="nav-list list-unstyled d-flex flex-column flex-md-row gap-2 gap-md-4 justify-content-center">
        <li><a href="index.html">Homepage</a></li>
        <li><a href="participants.html">Participantes</a></li>
        <li><a href="article.html">Artículos</a></li>
        <li><a href="colabora.html">Colabora</a></li>
        </ul>
    </nav>

    <div class="footer__social">
        <a href="#" class="footer__icon"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="footer__icon"><i class="fab fa-twitter"></i></a>
        <a href="#" class="footer__icon"><i class="fab fa-instagram"></i></a>
    </div>

    </div>
</div>
</footer>
