body {
    background-color: $body-bg;
}

p {
    font-size: 0.8rem;
    color: $text-color;
  
    @media (min-width: breakpoint("tablet")) {
      font-size: 1rem;
    }
  
    @media (min-width: breakpoint("desktop")) {
      font-size: 1.1rem;
    }
  }
  
  h1 {
    font-size: 2rem;
  
    @media (min-width: breakpoint("tablet")) {
      font-size: 2.5rem;
    }
  
    @media (min-width: breakpoint("desktop")) {
      font-size: 3rem;
    }
  }
  
  h2,
  h3 {
    font-size: 1.5rem;
  
    @media (min-width: breakpoint("tablet")) {
      font-size: 1.75rem;
    }
  
    @media (min-width: breakpoint("desktop")) {
      font-size: 2rem;
    }
  }
  