@layer base {
  body {
    background-color: $body-bg;
  }

  p {
    font-size: 0.8rem;
    color: $text-color;
  
    @media (min-width: breakpoint("tablet")) {
      font-size: 1rem;
    }
  
    @media (min-width: breakpoint("desktop")) {
      font-size: 1.1rem;
    }
  }
}

@layer typography {
  h1, h2 {
    font-size: 1.5rem !important;

    @media (min-width: breakpoint("tablet")) {
      font-size: 2rem !important;
    }
  }
  h3 {
    font-size: 1rem !important;

    @media (min-width: breakpoint("tablet")) {
      font-size: 1.5rem !important;
    }
  }
}